<h1>Group Specific Info Here</h1>
<ul>
  <li>Group: <%= @group.name %></li>
  <li>Group Type: <%= @group.group_type %></li>
  <li>Payment Amount per Month: <%= @group.payment_amount %></li>
  <li>Payout Amount per Month: <%= @group.disbursement_amount %></li>
  <li>Next Payout Date:  <%= @group.disbursement_date %></li>
</ul>
<table>
<thead>
<tr>
    <th>Members</th>
    <th>Last Contribution Made On:</th>
    <th>Paid?</th>
</tr>
</thead>
<tbody>
<% @group.users.each do |user| %>
<tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_contribution.created_at %></td>
    <td><%= user.paid?(@group.id) %></td>

</tr>
<% end %>
</tbody>

</table>